.section {
  position: relative;
}

.section h2.history {
  display: inline-block;
  margin-right: 10px;
}

.section #delete-all {
  position: relative;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
	background-image: url('https://assets.codepen.io/1462889/web-app-back.svg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.btn {
  width: 23%;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: #fff;
  background-color: #555;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .btn {
    width: 48%;
    margin-bottom: 10px;
  }
}


/*  */
#history {
  margin-top: 20px;
  padding: 10px;
}

#history li {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
}

#history li button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

#history li button:hover {
  background-color: #d32f2f;
}

#history li span {
  font-size: 16px;
  font-weight: bold;
}

.history-container {
  max-height: 230px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #FDBF5A #303037; /* Set the color of the scrollbar thumb and track */
}

.history-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.history-container::-webkit-scrollbar-thumb {
  background-color: #FDBF5A; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Round the edges of the scrollbar thumb */
}

.history-container::-webkit-scrollbar-track {
  background-color: #303037; /* Set the color of the scrollbar track */
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1;
  margin: 0;
}

.color-yellow{
  color: #ffdf74;
}

.section-fluid-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: calc(100% - 40px);
  padding: 50px 15px 90px;
  z-index: 3;
  margin: 0 auto;
}
.section-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.section-col-1{
  position: relative;
  width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
}
.section{
  position: relative;
  display: block;
  width: 100%;
  padding: 30px;
  background-color: #303037;
  border-radius: 200px/3px;
}
.section-col-1 .section{
  border-radius: 400px/3px;
}
.section:before{
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  z-index: -1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  display: block;
  overflow: hidden;
  background-color: rgba(0,0,0,.25);
  border-radius: 200px/3px;
  box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 200ms 100ms ease;
}
.section{
  background-color: #303037;
  transition: background-color 200ms 100ms ease;
}

h3{
  transition: color 200ms 100ms ease;
}

.color-yellow{
  transition: color 200ms 100ms ease;
}


@media (max-width: 767px) {
  h3{
    font-size: 36px;
  }
  .section-col-1{
    padding: 10px;
  }
  .section-col-2{
    padding: 10px;
  }

  .section-fluid-main{
    position: absolute;
  left: 50%;
    
  }
}
@media (max-width: 575px) {
  h3{
    font-size: 30px;
  }
  .section{
    padding: 15px;
  }
  .section-col-1{
    padding: 5px;
  }
}


.section{
  background-color: #303037;
  transition: background-color 200ms 100ms ease;
}

.color-yellow{
  transition: color 200ms 100ms ease;
}



@media (max-width: 767px) {
  h3{
    font-size: 36px;
  }
  .section-col-1{
    padding: 10px;
  }
  .section-col-2{
    padding: 10px;
  }
  .section-fluid-main{
    position: absolute;
  top: 50%;
  left: 50%;
    padding-top: 100px;
    padding-bottom: 140px;
    overflow: hidden
    
  }
}
@media (max-width: 575px) {
  h3{
    font-size: 30px;
  }
  .section{
    padding: 15px;
  }
  .section-col-1{
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    width: 48%;
    margin-bottom: 10px;
  }
  textarea {
    font-size: 16px;
    padding: 10px;
  }
}